# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
*.egg-info/

# Streamlit / cachés locales
.streamlit/

# ⚠️ Permitimos versionar estos artefactos ligeros de demo
# (queremos que GitHub Actions los comitee)
# data/docs_raw puede crecer -> lo ignoramos
data/docs_raw/

# Sí versionamos:
!data/docs_chunks/**
!indices/**
